/* CSS Document */
.picshow{
	width: 700px;
	height: 450px;
	background: #eee;
	margin-left: auto;
	margin-right: auto;
}
.imgs{
	width: 700px;
	height: 400px;
	background: #ddd;
	overflow: hidden;  /*超出的图片，隐藏*/
}

.imgUl {
	transition: all 0.5s;
	width: 9999px;
}
.imgUl li{
	width: 700px;
	height: 400px;
	overflow: hidden;  /* 防止图片间隙 */
	float: left;
}

.control{
	width: 700px;
	height: 50px;
	background: #ccc;
	text-align: right;
}

.control  a{
	width: 30px;
	height: 30px;
	background: #666;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	color: #fff; 
	border-radius: 50px;
}

.control .current{
	background: red;
}

